CORESA_API_URL=https://ub36l3qggg.execute-api.us-east-1.amazonaws.com/prod
CORESA_API_KEY=abc589625123XYZ78986547
CORESA_PAGE_SIZE=500
CORESA_SHEET_BRANDS=JADEVER

INTERNAL_API_URL=http://localhost:8080  #https://internal.solediluminacion.com
INTERNAL_API_KEY=_internal
INTERNAL_API_CHUNK_SIZE=500
INTERNAL_API_BY_SKU_CONCURRENCY=10
MELI_SELLER_ID=6863691
CORESA_PRICE_DISCOUNT_PERCENT=50

MERCADOLIBRE_API_URL=https://api.meli.solediluminacion.com
MERCADOLIBRE_API_SECRET=qqJ1XbM1R2af2Hp8I52NB7rKfg3wM4R8
MERCADOLIBRE_API_CLIENT_ID=4624486937546085
MERCADOLIBRE_API_KEY= _soled